@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranYekan";
  src: url("../src/assets/fonts/iranyekanwebregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

@layer components {
  .brand-bg-checkbox:not(:checked) {
    @apply bg-gray-500;
    opacity: 0.2;
  }
}
